---
- name: Apache Setup - Install Apache
  apt: name=apache2 state=latest
  notify:
    - restart apache
  tags:
    - apache-setup

- name: Apache Setup - Install Required Packages
  apt: name={{ item }} state=latest
  with_items:
    - libapache2-mod-wsgi
    - mcrypt
  notify:
    - restart apache
  tags:
    - apache-mods
    - apache-setup

- name: Apache Setup - Disable default non-required modules
  apache2_module: name={{ item }} state=absent
  with_items:
    - php5
  sudo: yes
  ignore_errors: True
  notify:
    - restart apache
  tags:
    - apache-mods
    - apache-setup

- name: Apache Setup - Enable required Apache modules
  apache2_module: name={{ item }} state=present
  with_items:
    - php5.6
    - ssl
  sudo: yes
  notify:
    - restart apache
  tags:
    - apache-mods
    - apache-setup

- name: Apache Setup - push fdqn file
  copy: content='ServerName {{ inventory_hostname }}' dest='{{ apache_fqdn_path }}'
  ignore_errors: True
  register: push_fdqn_file
  tags:
    - configure-apache-fdqn

- name: Apache Setup - push fdqn file on Ubuntu 13.04+
  copy: content='ServerName {{ inventory_hostname }}' dest='{{ apache_conf_path }}fdqn.conf'
  when: push_fdqn_file|failed
  tags:
    - configure-apache-fdqn

- name: Apache Setup - enable mod_rewrite
  command: a2enmod rewrite
  sudo: yes
  notify:
    - restart apache
  tags:
    - mod_rewrite
    - apache-setup

- name: Apache Setup - add apache user to vagrant group
  user: name={{apache_user}} groups="vagrant,dialout"
  when: "'local' in inventory_hostname"
  ignore_errors: True
  tags:
    - apache-setup

- name: Apache Setup - disable weak SSLv2/3
  lineinfile: dest=/etc/apache2/mods-available/ssl.conf state=present backup=yes regexp="SSLProtocol all" line="SSLProtocol all -SSLv2 -SSLv3"
  notify:
    - restart apache
  tags:
    - apache-setup
    - test
