---
- name: Environment Setup - set up bashrc - copy new bashrc files
  copy: src={{ item.from }} dest={{ item.to }} backup=yes
  with_items:
    - { from: 'env_setup/.bashrc', to: '{{ user_bashrc_file }}' }
    - { from: 'env_setup/.root_bashrc', to: '{{ root_bashrc_file }}' }
  tags:
    - bash

- name: Creates .ssh directory for root
  sudo: yes
  file: path=/root/.ssh state=directory
  tags:
    - github-deploy-keys

- name: Upload the connection file used for Github cloning
  sudo: yes
  copy: src=env_setup/github/id_rsa dest=/root/.ssh/github
  tags:
    - github-deploy-keys

- name: Correct SSH deploy key permissions
  sudo: yes
  file: dest=/root/.ssh/github mode=0600
  tags:
    - github-deploy-keys
