---
- name: set timestamp
  set_fact: timestamp={{ lookup('pipe', 'date +%Y%m%d%H%M%S') }}
  tags:
    - always

- name: Upgrade apt packages
  include: package_update.yml
  tags:
    - package-update

- name: Python Setup
  include: python_setup.yml
  tags:
    - python-setup

- name: Supervisor Setup
  include: supervisor_setup.yml
  tags:
    - supervisor-setup

- name: Environment Setup
  include: environment_setup.yml
  tags:
    - env-setup

- name: Utilities Setup
  include: utilities_setup.yml
  tags:
    - utils-setup

- name: Apache Setup
  include: apache_setup.yml
  tags:
    - apache-setup

- name: PHP Setup
  include: php_setup/php_setup.yml
  tags:
    - php-setup
  notify:
    - restart apache

- name: MySQL Server Setup
  include: mysql_setup/mysql_server_setup.yml
  tags:
    - mysql-server-setup

- name: MySQL Client Setup
  include: mysql_setup/mysql_client_setup.yml
  tags:
    - mysql-client-setup

- name: MySQL Dependencies Setup
  include: mysql_setup/mysql_dependencies_setup.yml
  tags:
    - mysql-deps

- name: SSH setup
  include: ssh_setup.yml
  tags:
    - ssh-setup


