#!/bin/bash
destination={{destination_folder}}
database={{database}}
database_qa={{database_qa}}
database_qa2={{database_qa2}}
database_staging={{database_staging}}
hostname={{hostname}}
tables={{destination_folder}}/{{tables}}

#Dump the whole db with no data
mysqldump --single-transaction --no-data -u {{ source_db_username }} -p"{{ source_db_password }}" -h {{ source_db_host }} {{ database }} > {{destination_folder}}/{{database}}.sql

#Import the emtpy schema into the internal dbs loans_qa,qa2,staging
for i in  {{database_qa}} {{database_qa2}} {{database_staging}} {{database_demo}} {{database_dev}}
do 
	mysql $i < {{destination_folder}}/{{database}}.sql
done

#dump the tables with data
for i in $(cat {{destination_folder}}/{{tables}})
do 
	mysqldump --single-transaction -u {{ source_username }} -p"{{ source_password }}" -h {{ source_host }} {{ database }} $i > {{destination_folder}}/{{database}}_$i.sql
done

#Import the dumped tables into the internal mysql server
for j in {{database_qa}} {{database_qa2}} {{database_staging}} {{database_demo}} {{database_dev}}
do
	for i in $(cat {{destination_folder}}/{{tables}})
	do
		mysql $j < {{destination_folder}}/{{database}}_$i.sql
	done
done
