---
- name: Create payments app application log path
  file: path={{payments_app_base_log_path}} state=directory
  tags:
    - payments-app-logging

- name: Check/create payments application log files
  file: path={{payments_app_base_log_path}}{{payments_app_base_log_file_name}} owner={{apache_user}} group={{apache_user}} state=touch mode=ugo+rw
  tags:
    - payments-app-logging

- name: Set up logrotate for payments application
  template: src=payments-app-logrotate.j2 dest={{payments_app_logrotate_file}}
  tags:
    - payments-app-logging
