extension = "newrelic.so"
[newrelic]
newrelic.license = "{{ newrelic_license_key }}"
newrelic.logfile = "/var/log/newrelic/php_agent.log"
newrelic.appname = "php-{{ ansible_hostname }}"
newrelic.daemon.logfile = "/var/log/newrelic/newrelic-daemon.log"
