---
- name: copy-auth-file
  copy: src='dockercfg' dest='{{docker_hub_auth}}'
  tags:
      - copy-auth

- name: copy-auth-file
  copy: src='github.key' dest='{{github_key}}' mode='u+r'
  tags:
      - copy-gitauth

#- name: Clone Repo
#  git:
#      repo: https://github.com/{{organisation}}/{{website_docker_repo}}.git
#      dest: "{{website_docker_repo}}"
#      accept_hostkey: yes
#      force: yes
#      recursive: no 
#      key_file: "{{ github_key }}"
#  tags:
#      - clone-repo

#- name: copy-template
#  template: src=default-ssl.j2 dest={{website_dir}}/{{ssl_config}}
#  tags:
#      - copy-files


- name: Build Website Container
  command: docker build -t {{website_container}} {{website_dir}}
  tags:
      - build-website

- name: Push website image to docker hub
  command: docker push {{website_container}}:latest
  tags:
      - push-website-dockerhub

- name: Deploy Website Container
  docker:
        name: website
        image: "{{ website_container }}"
        pull: always
        state: restarted
        ports:
           - "{{http_port}}:{{http_default_port}}"
           - "{{ssh_port}}:{{ssh_default_port}}"
  tags:
       - deploy-website

- name: Copy Docker Compose yml file
  template: src=docker-compose.j2 dest={{home_dir}}{{website_docker_compose_config}}
  tags:
      - copy-compose-config

- name: Copy Docker Compose environment file
  template: src=compose.j2 dest={{home_dir}}{{website_env}}
  tags:
      - copy-compose-env

- name: Deploy via Docker Compose
  command: docker-compose up -d
  tags:
      - run-website-compose
