<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:keairtelc2b" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:keairtelc2b">
<types>
<xsd:schema targetNamespace="urn:keairtelc2b"
>
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
</xsd:schema>
</types>
<message name="RequestTokenRequest">
  <part name="APIUser" type="xsd:string" />
  <part name="APIPassword" type="xsd:string" />
  <part name="TransID" type="xsd:string" />
  <part name="Amount" type="xsd:string" />
  <part name="ReferenceField" type="xsd:string" />
  <part name="Msisdn" type="xsd:string" /></message>
<message name="RequestTokenResponse">
  <part name="return" type="xsd:string" /></message>
<portType name="keairtelc2bPortType">
  <operation name="RequestToken">
    <documentation>Incoming Airtel C2B Kenya request</documentation>
    <input message="tns:RequestTokenRequest"/>
    <output message="tns:RequestTokenResponse"/>
  </operation>
</portType>
<binding name="keairtelc2bBinding" type="tns:keairtelc2bPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="RequestToken">
    <soap:operation soapAction="urn:keairtelc2b#RequestToken" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:keairtelc2b" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:keairtelc2b" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="keairtelc2b">
  <port name="keairtelc2bPort" binding="tns:keairtelc2bBinding">
    <soap:address location="{{payments_app_host}}:{{payments_app_ke_airtel_c2b_port}}/api/mno/c2b/ke/airtel/"/>
  </port>
</service>
</definitions>
