SetEnv ENVIRONMENT {{api_env_name}}
SetEnv username {{api_db_user}}
SetEnv password {{api_db_pass}}
SetEnv apiUrl http://{{api_server_name}}/api
SetEnv apiUser root
SetEnv apiPass root
SetEnv dbname {{api_db_name}}
