{
    "DEBUG": {{messaging_app_debug}},
    "BASE_LOG_FILE": "{{messaging_app_base_log_path}}{{messaging_base_log_file_name}}",
    "DEBUG_LOG_FILE": "{{messaging_app_base_log_path}}{{messaging_debug_file_name}}",
    "DEFAULT_LOG_LEVEL": "WARNING",
    "SERVER_HOST": "{{messaging_app_server_host}}"
}
