provider "{{ aws_terraform_provider }}" {}

terraform {
  backend "s3" {
    bucket = "mx-terraform"
    key    = "terraform.tfstate"
    region = "us-west-2"
  }
}
resource "aws_vpc" "main_vpc" {
  cidr_block = "{{ aws_terraform_cidr_block }}"
}

{% for item in aws_terraform_module_code %}
module "{{ item }}" {
  source = "./modules/{{ item }}"
}

{% endfor %}

module "rds" {
  source = "./modules/database"
}
