---
- name: DOCKER install debian keyring
  apt: name='debian-archive-keyring' state='present'
  tags: [ docker-setup]

- name: DOCKER aufs support
  become: yes
  apt: name=linux-image-extra-{{ ansible_kernel }} state=present
  tags: [ aufs,docker-setup ]

- name: DOCKER add key
  apt_key: keyserver='p80.pool.sks-keyservers.net' id='58118E89F3A912897C070ADBF76221572C52609D'
  tags: [ add-key, docker-setup ]

- name: DOCKER add repository
  apt_repository: repo='deb https://apt.dockerproject.org/repo ubuntu-trusty main' state=present update_cache='yes'
  tags: [add-repo, docker-setup ]

- name: DOCKER install
  apt: name='docker-engine' state='present'
  tags: [ install, docker-setup ]

- name: DOCKER copy config - file
  copy: src=docker dest=/etc/default/docker
  tags: [ copy-conf, docker-setup ]

- name: DOCKER update firewall rule
  lineinfile: dest={{ firewall_file }} regexp={{ firewall_default }} line={{ firewall_accept }}

