{
    "EvaluationPeriods": 2,
    "ComparisonOperator": "LessThanOrEqualToThreshold",
    "AlarmActions": [
        "{{ sns_arn_alerts }}"
    ],
    "Namespace": "AWS/EC2",
    "AlarmDescription": "CPU Credit Monitor Alert Created from CloudWatch API",
    "Period": 300,
    "Threshold": 50,
    "AlarmName": "CPU Credit Monitor-{{ item.tags.Name }}",
    "Dimensions": [
	{
	    "Name": "InstanceId",
	    "Value": "{{ item.id }}"
	}
    ],
    "Statistic": "Average",
    "InsufficientDataActions": [
    ],
    "OKActions": [],
    "ActionsEnabled": true,
    "MetricName": "CPUCreditBalance"
}
