{
    "EvaluationPeriods": 1, 
    "ComparisonOperator": "GreaterThanOrEqualToThreshold", 
    "AlarmActions": [], 
    "Namespace": "AWS/EC2", 
    "AlarmDescription": "Created from CloudWatch API", 
    "Period": 60, 
    "Threshold": 1.0, 
    "AlarmName": "Server Downtime Alert for {{ item.tags.Name }}", 
    "Dimensions": [
	{
	    "Name": "InstanceId", 
	    "Value": "{{ item.id }}"
	}
    ], 
    "Statistic": "Maximum", 
    "InsufficientDataActions": [
	"{{ sns_arn }}"
    ], 
    "OKActions": [], 
    "ActionsEnabled": true, 
    "MetricName": "StatusCheckFailed"
}
