{
    "DEBUG": {{whatsapp_app_debug}},
    "WA_USERNAME": "{{whatsapp_app_username}}",
    "WA_CRED": "{{whatsapp_app_pass}}",
    "SERVER_HOST": "{{whatsapp_app_server_host}}",
    "BASE_LOG_FILE": "{{whatsapp_app_base_log_path}}{{whatsapp_app_base_log_file_name}}",
    "DEBUG_LOG_FILE": "{{whatsapp_app_base_log_path}}{{whatsapp_app_debug_file_name}}",
    "DATABASE": "{{whatsapp_app_db_dir_path}}{{whatsapp_app_db_file_name}}",
    "DEFAULT_LOG_LEVEL": "WARNING"
}
