{
    "DEBUG": {{whatsapp_app_debug}},
    "WA_USERNAME": "{{whatsapp_app_username}}",
    "WA_CRED": "{{whatsapp_app_pass}}",
    "SERVER_HOST": "{{whatsapp_app_server_host}}",
    "BASE_LOG_FILE": "{{whatsapp_app_base_log_path}}{{whatsapp_app_base_log_file_name}}",
    "DEBUG_LOG_FILE": "{{whatsapp_app_base_log_path}}{{whatsapp_app_debug_file_name}}",
    "DATABASE": "{{whatsapp_app_db_dir_path}}{{whatsapp_app_db_file_name}}",
    "DEFAULT_LOG_LEVEL": "WARNING",
    "IV_PERSON_ENDPOINT": "{{inventure_api_people_endpoint}}",
    "IV_PERSON_ADDITIONAL_DATA_ENDPOINT": "{{inventure_api_people_additional_data_endpoint}}",
    "ZD_COMPANY_NAME": "{{zendesk_company_name}}",
    "ZD_USER": "{{zendesk_user}}",
    "ZD_CRED": "{{zendesk_credential}}",
    "ZD_USE_TOKEN": {{zendesk_use_token}},
    "ZD_MSG_SOURCE_CUSTOM_FIELD_ID": {{zendesk_msg_source_custom_field_id}}
}
