{{zd_sync_app_base_log_path}}*log {
    daily
    rotate 36500
    missingok
    notifempty
    compress
    delaycompress
    dateext
    postrotate
        service zd_sync_telerivet restart
    endscript
}
