{
    "DEBUG": {{zd_sync_app_debug}},
    "BASE_LOG_FILE": "{{zd_sync_app_base_log_path}}{{zd_sync_base_log_file_name}}",
    "DEBUG_LOG_FILE": "{{zd_sync_app_base_log_path}}{{zd_sync_debug_file_name}}",
    "DEFAULT_LOG_LEVEL": "WARNING",
    "ZD_RECENTLY_UPDATED_TICKETS_VIEW_ID": "{{zendesk_recently_updated_tickets_view_id}}",
    "SERVER_HOST": "{{zd_sync_app_server_host}}",
    "ZD_SYNC_DATABASE": "{{zd_app_db_dir_path}}/{{zd_sync_app_db_file_name}}",
    "TELERIVET_SYNC_DEBUG": {{zd_sync_app_debug_tr}},
    "TELERIVET_SYNC_BASE_LOG_FILE": "{{zd_sync_app_base_log_path}}{{zd_sync_base_log_file_name_tr}}",
    "TELERIVET_SYNC_DEBUG_LOG_FILE": "{{zd_sync_app_base_log_path}}{{zd_sync_debug_file_name_tr}}",
    "TELERIVET_SYNC_DEFAULT_LOG_LEVEL": "WARNING",
    "TELERIVET_SYNC_SLEEP_TIME": {{zd_sync_app_tr_sleep_time}}
}
