{
    "DEBUG": {{zd_ticket_proc_app_debug}},
    "BASE_LOG_FILE": "{{zd_ticket_proc_app_base_log_path}}{{zd_ticket_proc_base_log_file_name}}",
    "DEBUG_LOG_FILE": "{{zd_ticket_proc_app_base_log_path}}{{zd_ticket_proc_debug_file_name}}",
    "DEFAULT_LOG_LEVEL": "DEBUG",
    "SERVER_HOST": "{{zd_ticket_proc_app_server_host}}",
    "ZD_DATABASE": "{{zd_app_db_dir_path}}/{{zd_app_db_file_name}}"
}
